*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
  height:100vh;
  width:100%;
  background-image: url("sellerBackground.jpg");
  background-size: cover;
  
} 
body h1{
  color:antiquewhite;
    text-align:center;
    margin:2rem 0 1rem;
}
#p1{
  color:antiquewhite;
    text-align:center;
    margin:0 0 1rem;
}
.outer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
.container{
    width: 50%;
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
    color:green;
  }
.container h2{
    text-align: center;
    margin:1rem 0 1rem ;
    color:rgb(255, 225, 0);
}
.container p{
    margin-top:0;
    text-align: center;
    color:rgb(255, 225, 0);
}
.container label{
    margin:1rem;
    color:white;
    
} 

.container input{
    padding: 0.5rem;
    background-color:bisque;
    /* color:orange; */
}
#crops_you_grow{
    margin-bottom: 1rem;;
}
.dropdown {
    width: 250px;
    position: relative;
    font-family: Arial, sans-serif;
  }
  .dropdown label{
    margin-top:1rem;
  }
  .dropdown-select {
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
    background-color: bisque;
    margin-top: 1rem;
  }
  
  .dropdown-select:hover {
    border-color: #888;
  }
  
  .dropdown-menu {
    list-style: none;
    margin: 0;
    
    padding: 0;
    border: 1px solid #ccc;
    border-top: none;
    position: absolute;
    width: 100%;
    background-color: #fff;
    display: none;
    max-height: 200px;
    overflow-y: auto;
    z-index: 100;
  }
  
  .dropdown-menu li {
    padding: 10px;
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    background-color: #f0f0f0;
  }
  button{
    border-radius: 5px;
    padding:0.5rem;
    margin:2rem 0 0.8rem;
    background-color: green;
    color:white;
    font-size: large;
  }
  
